# Visual Studio ################################################################

# Configuration files
.vscode/

# libft ########################################################################

# library file
libft.a

# Objects files
*.o

# Tests ########################################################################

# Test files
main.c

# Executable files
*.out
